#mj-container {
    /*display:none;*/
    position: relative !important;    
    top: 0 !important;
    left: 0 !important;
    width:100% !important;
    height:100%;
    z-index:99999999999999999 ;    
    clear:both;
    display:inline-block;
}

#mj-inner-container {
    max-width: 700px;
    margin:50px auto;    
    clear:both;            
}

#mj-headline {
    margin:0px 0 20px 0;
}

#mj-toolbar {
    font-size:14px;
    position:absolute;
    top:10;
    left:10;
    color:gray;
    opacity: 0.3;
}

#mj-toolbar img {
    padding:5px;
}

#mj-toolbar img:hover {
    cursor: pointer;
}

#mj-reader {    
    font-size:larger;
    clear:both;
}

.mj-light {
    background-color:white;
} 

.mj-dark {
    background-color:#1e1e1e;
    color:#cbcbcb;    
} 

.mj-dark:link {    
    color:white;
} 
